body {
    margin: 0;
}
.navbar {
    margin: 0 auto;
    width: 60% !important;
    margin-top: 25px;
    margin-bottom: 25px;
}
.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    background-color: lightgreen;
}
.navbar-collapse {
    justify-content: flex-end;
}
.logo {
    width: 50px;
    height: 50px;
}
.about_icons {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;
}

.about_icons {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;
}

.about_intro {
    width: 55%;
    height: 55%;
    display: block;
    margin: auto;
}

.main_info {
    background-color: lightgreen;
    padding-top: 20px;
    padding-bottom: 45px;
}
.main_header {
    margin: 0 auto;
    width: 55% !important;
    margin-top: 25px;
    margin-bottom: 5px;
}

.main_text {
    font-weight: bold;
    font-size: 45px;
}
.secondary_text {
    font-weight: bold;
    font-size: 19px;
}
.info_cards {
    margin: 0 auto;
    width: 55% !important;
    margin-top: 40px;
}

.custom-card {
    width: 14rem;
    height: 11rem;
}

.popular-card:hover {
    background-color: lightgreen;
}

.stat-info:hover {
    background-color: lightgreen;
}
.stat-info-average {
    background-color: rgba(144, 238, 144, 0.2)
}
.stat-info-count {
    font-size: 12px;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}
.dropdown-container {
    display: flex;
}

/*#process, #process2 {*/
/*    display: inline-block;*/
/*    vertical-align: top; !* aligns the divs at the top *!*/
/*    width: 49%; !* sets the width of each div to 50% *!*/
/*    box-sizing: border-box; !* includes the padding and border in the width calculation *!*/
/*    padding: 10px; !* adds some padding to the divs *!*/
/*}*/

.process-div {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.calc-diff-percentage {
    color: green;
}

td.compare-process-names {
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 1100px) {
    td.compare-process-names {
        font-size: 25px;
    }
}

.table {
    border-collapse: collapse;
    padding-right: 10px;
    margin-right: 10px;
}

.table td, .table th {
    border: none;
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

.loginsignup {
    margin-bottom: 5px;
}

